@mixin btn {
	background: none;
	color: $black;
	border: 2px solid $black;
	border-radius: 10px;
	padding: 11px 20px 9px;
	margin: 10px 0;
	outline: 0;
}

.btn {
	@include btn;

	&:focus {outline:0;}

	&-primary {
		color: darken($yellow, 45%);
		text-transform: uppercase;
		background: $yellow;
		border: 2px solid darken($yellow, 5%);
	}
	&-white {
		color: darken($green, 20%);
		text-transform: uppercase;
		background: $white;
		border-color: $white;

		&:hover {
			color: darken($yellow, 5%);
		}
	}
}

//calendar button
.fc-state-default {
	@include btn;
}
.fc {
	button {
		border-radius: 0;
		box-shadow: none;

		&:hover {
			color: $dgrey;
		}
	}

	.fc-state-active {
		background: $yellow;
		text-shadow: none;

		&:hover {
			color: $black;
		}
	}
	.fc-state-disabled {
		&:hover {
			color: $black;
		}
	}

	.fc-corner-right {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.fc-corner-left {
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
	}
}

