$grid_cal_footer_H: 40px;
$grid-cal_H	: 260px;
.header__cal__grid {
	height: $grid-cal_H + 20;
	overflow-y: hidden;
	//width: 2000px;
}

.event-grid {
	&__item {
		height: $grid-cal_H;
		float: left;
		position: relative;

		&:not(:first-child)::before {
			content: '';
			position: absolute;
			display: block;
			width: 1px;
			height: 60%;
			top: 20%;
			left: 0;
			background: $lgrey;
		}

		.header__cal__grid & {
			width: 275px;
		}

		&__front,
		&__back {
			height: $grid-cal_H - $grid_cal_footer_H;
			padding: $main-pad;
			overflow: hidden;
		}

		&__footer {
			height: $grid_cal_footer_H;
			font-weight: 600;
			position: relative;

			a {
				display: block;
				height: $grid_cal_footer_H;
				padding: $main-pad/2 $main-pad;
				line-height: $grid_cal_footer_H;
				line-height: 28px;

				&::after {
					font-weight: 400;
					color: $white;
					content: '\203a';
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					right: $main-pad;
					margin: auto;
					border-radius: 50%;
					background: $orange;
					text-align: center;
					width: 20px;
					height: 20px;
					line-height: 20px;
				}

				&:hover::after {
					background: #ba3315;
				}
			}		
		}

		// front

		&__tags {
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-weight: 200;
			font-size: .7em;
			text-transform: uppercase;
			height: 20px;
		}

		&__title {
			a {
				@include link-color($black, $orange);
			}
		}


		// back 		

		&__back {
			background: $yellow;
			visibility: hidden;
			//display: block;
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			text-transform: uppercase;
			padding-top: 5px;
			font-weight: 600;
			font-size: .75em;
			color: $orange;
			overflow: hidden;

			h4 {
				color: $black;
				font-weight: 400;
				font-size: 1em;
				margin-top: 7px;
				margin-bottom: 3px;
			}
		}

		&:hover &__back {			
			visibility: visible;
		}

		&__experts {
			ul {				
				list-style-type: none;
				padding: 0; 
				margin: 0;	
			}		
		}

		&__img {
			height: 75px;
			width: 75px;
			border-radius: 50%;
			border: 2px solid $white;
			background-size: cover;
			background-position: center;
			position: absolute;
			right: $main-pad;
			top: $main-pad;
		}
	}	
}