.mp-promo {	
	font-size: .9em;	
	@include respond-to-min(xl) {
		font-size: 1.3em;
	}
	@include respond-to-min(xxl) {
		font-size: 1.4em;
	}

	&__block {
		margin-bottom: 60px;
		@include cl;

		em {
			font-size: .9em;
			color: #999;
		}

		&__numerator {
			font-size: 3em;
			@include line-after;
			overflow: hidden;
			&::after {
				bottom: .325em;
				width: 100%;
				display: inline-block;
				left: auto;
				right: auto;
				margin-left: .1em;
			}
		}
		&__content {
			position: relative;
		}
	}

	&__bubbles {
		&__container {
			@include respond-to-min(lg) {
				position: absolute;
				height: 100%;
			}
		}
		&__bg-layer {
			@include respond-to-min(lg) {
				position: absolute;	
				top: 0;
				left: 0;
				right: 0;
				width: 95%;		
				height: 95%;
			}
		}
	}
}

.mp-bubble {
	&__bg {					
		position: absolute;
		border-width: $body_pad /2;
		border-style: solid;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		opacity: 1;
		background-size: 55%;
		background-position: top center;
		background-repeat: no-repeat;
		margin: auto;
		cursor: pointer;

		@include respond-to-max(lg) {
			position: relative !important;
			border: none !important;
			border-radius: 0 !important;
			width: 100% !important;
			height: auto !important;
			opacity: 1 !important;
			background: none !important;
			margin: auto !important;
			top: auto !important;
			right: auto !important;
			bottom: auto !important;
			left: auto !important;
			padding-left: $main_pad * 1.5;

			&::before {
				opacity: 1 !important;
				width: $main-pad !important;
				height: $main-pad !important;
				top: 4px !important;
				left: 0 !important;
			}			
		}

		.bbl-active & {
			opacity: 0;
		}
	}

	

	/* child elements */	
	&__title {
		@include respond-to-min(lg) {
			font-size: 1.5em;
			font-weight: 400;
			position: absolute;
			bottom: 20%;
			width: 75%;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;

			.has-no-img-bg & {			
			  top: 50%; left: 50%;
			  -webkit-transform: translate(-50%,-50%);
			      -ms-transform: translate(-50%,-50%);
			          transform: translate(-50%,-50%);
			}

			br {
				display: inline;
			}
		}		

		br {
			display: none;
		}
	}
	&__description {
		opacity: 0;
		max-height: 0;
	}
	&__close {
		width: 0;
		height: 0;
		position: absolute;
		font-size: 0;
		line-height: 0;
		text-align: center;
		top: -$main_pad;
		right: -$main_pad;
		overflow: hidden;
		opacity: 0;
		transition: none;
	}

	/* modificators */
	&_active[style] {
		@include absolute-center;
		background: #fff !important;
		width: 100% !important;
		height: 100% !important;
		background-image: none;
		border-radius: $main-pad;
		border-width: 1px;
		left: 0 !important;
		top: 0 !important;
		z-index: -1 + $body-pseudo-z;
		transform: translateX(0) !important;
		opacity: 1;
		cursor: default;
		padding: $main-pad;
		font-size: 1em !important;	

		@include respond-to-min(xl) {			
			font-size: 1.2em !important;	
		}	

		&::before {
			width: 100%;
			height: 100%;
			border-radius: $main-pad !important;
			opacity: .15 !important;
		}

		.mp-bubble {		
			&__close {
				width: $main_pad*2;
				height: $main_pad*2;
				font-size: $main_pad*2;
				line-height: $main_pad*2;
				text-align: center;
				top: $main_pad;
				right: $main_pad;
				opacity: 1;
				cursor: pointer;
				
				.dashicons {
					font-size: inherit;
					width: 100%;
					height: 100%;
					line-height: inherit;
				}
				&:hover {
					color: $orange;
				}
			}
			&__title {
				transition: none;
				@include respond-to-min(lg) {
					position: relative;
					padding: 0 $main-pad * 4;
					font-weight: 600;
					width: 100%;
					top: auto;
					left: auto;
					right: auto;
					bottom: auto;
					margin: 0 auto $main-pad;
					text-align: center;
					transform: translate(0, 0);

					br {
						display: none;
					}
				}
			}
			&__description {
				transition: none;
				opacity: 1;
				max-height: 700px;
				font-size: 1em;

				& * {					
					transition: none;
				}
			}
			&__link {
				position: absolute;
				bottom: $main-pad;
				right: $main-pad;
				@include link-color($black, $dgrey);
			}
		}
	}
}