%soc-btn {	
	@include border-radius;
}

.google-play-badge {
	@extend %soc-btn;
}
.facebook-badge {
	@extend %soc-btn;
	position: relative;

	&__btn {
		background: $white;
		color: #4080FF; //fb color
		display: inline-block;
		width: calc(100% - 4px);
		//font-weight: bold;
		//letter-spacing: -1px;
		border: none;
		border-radius: 4px;
		font-size: 13px;
		height: 28px;
		padding: 0;
		margin: 5px auto;


		@include respond-to-max(md) {
			margin-top: 0;	
			margin-bottom: 10px;		
			background: #4080FF; //fb color
			color: $white;
			height: 37px;
		}

		@include respond-to-max(xs) {
			margin-bottom: 5px;
		}
	}
}