.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	//background: yellow;	
	border-color: $black;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	padding: 8px;	
	color: $black;
}

.tooltipster-content {
	font-size: .9em;
}