// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes
.entry-title {
  a {
    @include link-color($black, $orange);
  }
}
.entry-content,  
.comments {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: $main-pad * 3;

  .logged-in-as {
    padding-left: $main-pad / 2;
  }
}

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}
.aligncenter {
  display: block;
  margin: ($line-height-computed / 2) auto;
  height: auto;
}
.alignleft,
.alignright {
  margin-bottom: ($line-height-computed / 2);
  height: auto;
}
@media (min-width: $screen-sm-min) {
  // Only float if not on an extra small device
  .alignleft {
    float: left;
    margin-right: ($line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: ($line-height-computed / 2);
  }
}

// Captions
.wp-caption {
  @extend .thumbnail;
}
.wp-caption-text {
  padding: $thumbnail-caption-padding;
}

// Text meant only for screen readers
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.page-header {
  border-color: $lgrey;
}

.comment-form {
  margin: 0 -$main-pad /2;
  %comment-field {
    float: left;
    padding: 0 $main-pad/2;
    box-sizing: border-box;
  }
  .comment-notes {    
    padding: 0 $main-pad/2;
  }
  .comment-form-comment {
    width: 70%;
    height: 193px;
    @extend %comment-field;
    @include respond-to-max(md) {
      width: 100%;
    }
  }
  .comment-form-author {    
    width: 30%;
    @extend %comment-field;
    @include respond-to-max(md) {
      width: 100%;
    }
  }
  .comment-form-email {
    width: 30%;
    @extend %comment-field;
    @include respond-to-max(md) {
      width: 100%;
    }
  }
  .comment-form-url {
    width: 30%;
    @extend %comment-field;
    @include respond-to-max(md) {
      width: 100%;
    }  
  }    
  .form-submit {
    padding: 0 7.5px;      
  }
}