.archive {
	.post {
		margin-bottom: $main-pad *2;
		border-radius: 5px;
		@include transition-aprel(box-shadow);

		&:hover {
			@include respond-to-min(md) {
				box-shadow: 0 1px 5px rgba(0,0,0,.3);
			}


			& footer {			
				border-bottom-width: 0;
			}
		}

		header {
			@include dash-below($orange, $main-pad*2);
			
			time {
				color: $dgrey;
			}
			
		}
		.entry-title {
			margin-bottom: $main-pad;
		}

		.entry-summary {
			a {
				white-space: nowrap;
			}
		}

		footer {			
			border-bottom: 2px solid $lgrey;
			@include transition-aprel(border-width);
		}
	}	
}