.type-events {
	h4 {		
		line-height: 1.428571429;
		&:first-child {
			margin-top: 0;
		}

		.dashicons {
			padding-right: 30px;
			font-size: 1.3em;
			color: $orange;
			vertical-align: top;
			position: relative;
			top: -3px;
		}
	}

	.entry-content {
		margin-bottom: $main-pad * 2;
		padding-bottom:  $main-pad * 2;
		border-bottom: 1px solid $black;
	}

	.event-report {
		h1 {
			a {
				vertical-align: top;
				font-size: .65em;
				margin-left: 7px;
				text-decoration: none !important;
			}
		}
	}

	.author-badge {
		padding-top: 0;
	}
}

.event-info {
	border-right: 1px solid $lgrey;
	@include respond-to-max(sm) {
		border-right: none;
		margin-bottom: $main_pad * 2;
	}

	&__block {	
		padding: $main_pad 0;
		//border-top: 1px dashed $lgrey;

		&:first-child {
			padding-top: 0;
			border: none;
		}
	}
}

.event-form {
	.wpcf7 {
		margin: $main-pad*2 0;

		@include respond-to-max(xs) {
			width: 100%;
			margin: $main-pad*2 0;
		}
	}

	label {
		font-weight: 400 !important;
	}

	input:not([type="submit"]) {
		max-width: 100%;
		width: 100%;
	}

	.btn {
		margin: 0 auto;
	}
}

.acf-map {
	width: 100%;
	height: 300px;
	border: #ccc solid 1px;


	@include respond-to-min(xxl) {
		height: 450px;
	}
	&__cover {
		height: 100px;
		background-size: cover;
		background-position: center;

		@include respond-to-min(xl) {
			height: 150px;
		}
	}
	// &__address {
	// margin: 20px 0;
	// 	.dashicons {
	// 		position: relative;
	// 		font-size: 1.7em;
	// 		color: $orange;
	// 		width: auto;
	// 		height: auto;
	// 		vertical-align: bottom;
	// 	}
	// }
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
