// Header

.header {
	&__date {
		text-align: center;
		width: 100%;
		height: 175px; // because of buuble banner and menu height
		font-size: 120px;
		line-height: 100px;
		font-weight: bold;
		vertical-align: bottom;
		user-select: none;
		padding-top: 70px;

		span { 			
		}
	}
	&__banner {
		position: relative;
		height: $top-banner-h;
		width: 100%;

		.banner-bubble {
			border-radius: 50%;
			background-position: center;
			background-size: contain;
		}
		

		@include respond-to-max(sm) {
			display: none;
		}
	}

	&__cal { 
		border-top: 3px solid $black;
		border-bottom: 3px solid $black;
		margin-bottom: $main-pad;
		padding: 0 0 $main-pad;
		overflow: hidden;
		max-height: 35px;
		@include transition-aprel(max-height);
		@include cl;

		&_expanded {
			max-height: 500px;
		}

		&__bar {		
			height: $main-pad *2;
			line-height: $main-pad *2;
			margin-left: -$main-pad;
			margin-right: -$main-pad;
			border-bottom: 1px solid $black;
		}

		&__toggler {
			position: absolute;
			width: $main-pad *1.5;
			height: $main-pad *2;
			top: 0;
			cursor: pointer;
			color: $black;

			.clndr__month:hover &,
			.header__cal_expanded & {
				color: $orange;
			}

			&:first-child {
				left: 0;				
				@include transition-aprel(transform);

				.header__cal_expanded & {
					transform: rotate(180deg);
				}
			}
			&:last-child {
				left: $main-pad *1.5;
				span {
					&::before {
						position: relative;
						top: -2px;
					}
				}
			}

			span {
				width: $main-pad *1.5;
				line-height: $main-pad *2;
				height: $main-pad *2;
			}
		}

		&__nav {
			margin-bottom: 0;
			list-style-type: none;

			li {
				a {
					font-weight: 600;
					text-transform: uppercase;
					@include link-color($black, $orange);
					text-decoration: none;
				}
			}
		}
	}
}