// Nav

.nav {
	&>li {
		&>a {
			font-weight: bold;
			color: $black;
			&:hover {
				background: none;
				color: $accent;
			}
			&:focus {
				background: none;
			}
		}
	}
}

.menu-holder {
	@include transition-aprel(max-height .7s, margin-bottom .7s);
	@include respond-to-max(md) {
		background: $lgrey;
		max-height: 0;
		overflow: hidden;
			margin-left: -15px;
			margin-right: -15px;
	}
}
.menu-opened {
	@include respond-to-max(md) {
		max-height: 1000px;
		overflow: hidden;
		margin-bottom: $main_pad;
	}
}
.current-menu-item {
	a {
		color: $orange !important;
		i {
			color: $orange !important;
		}
	}
}

.menu {	
	&-item {
		a {
			padding: 0;
			i {
				color: $yellow;
				font-size: 1.2em;
			}

			&:hover {
				i {
					color: inherit;
				}
			}
		}

		@include respond-to-max(md) {
			float: left;
			width: 50%;
			text-align: center;
			padding: 15px;
		}
		@include respond-to(xs) {
			float: none;
			width: 100%;
		}
		@include respond-to-min(xxl) {				
			a {
				//padding: 0 10%;
			}
		}
	}
}