// Nav right sidebar

.nav-right-sidebar {
	position: relative;
	height: 100%;	

	@include respond-to-max(md) {
		padding-top: 0;
	}

	& > div {		
		position: relative;
		height: 100%;
	}
	.menu {
		&-container {
			height: 100%;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			@include respond-to-max(md) {
				display: block;
			}

			&::before,
			&::after {
				display: none;
			}			
		}
	}
}