.team-member-page {
	header {
		text-align: center;
	}

	.team-member {
		&__img {
			border-radius: 50%;
			width: 220px;
			height: 220px;
			margin: $main-pad auto;
			background-position: top center;
			background-size: cover;
			cursor: pointer;
			border: 4px solid $yellow;
		}

		&__soc-links {
			display: none;
			margin-bottom: $main-pad /2;

			&__item {
				@include link-color($white, $white);
				font-size: 20px;
				text-decoration: none !important;
				display: inline-block;
				line-height: 35px;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background: $orange;
				position: relative;
				text-align: center;
				margin-right: 5px;
				&:hover {
					background: $yellow;
				}
				&::before {
					line-height: inherit;
					margin: auto;
				}
			}
		}
	}
}