.post {
	.video-post {
		&__video {
			&__container {
				background: $lgrey;
				position: relative;
				display: block; 
				width: 100%; 
				height: 100%; 
				padding-bottom: 56.25%; 
				overflow: hidden;
				cursor: hand; 
				cursor: pointer;

				& > div {
					position: absolute;
					height: 100%;
					width: 100%;
					top: 0;
					left: 0;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

					&:hover {
						.play-button {
							color: $orange;
						}
					}
				}
				.play-button {
					height: 60px; 
					width: 60px;
					left: 50%;
					top: 50%;
					margin-left: -30px;
					margin-top: -30px;
					position: absolute;
					color: $yellow;
					text-shadow: 0 0 2px rgba(#000, .7);
					//@include transition-aprel(color, .2s);

					& > span {
						height: 60px;
						width: 60px;
						line-height: 60px;
						font-size: 60px;
					}
				}
			}
			.youtube-iframe,
			.vimeo-iframe {
			    width: 100%;
			    height: 100%;
			    position: absolute;
			    top: 0;
			    left: 0;
			}
		}
	}
	body.archive &,
	body.category & {
		
		.video-post {
			&__inner {
				border-radius: 5px;
				@include transition-aprel(box-shadow);
				@include cl;

				&:hover {	
					@include respond-to-min(md) {
						box-shadow: 0 1px 5px rgba(0,0,0,.3);
					}											
				}
			}

			&__video {
				@include respond-to-min(md) {
					padding-left: 0; //only for desktop
					padding-right: 0; //only for desktop
				}

				&__container {

					@include respond-to-min(md) {							
						border-top-left-radius: 5px; 
						border-top-right-radius: 5px;
					}

					& > div {
						
						@include respond-to-min(md) {							
							border-top-left-radius: 5px; 
							border-top-right-radius: 5px;
						}
					}
				}
			}

			&__content {
				padding: $main-pad;
				overflow: hidden;
				
				.entry-title {
					margin: 0;
				}
				.entry-summary {
					@include respond-to-min(md) {
						overflow: hidden;
						position: relative;
						&::after {
							content: '';
							position: absolute;
							bottom: 30px;
							width: 100%;
							height: 30px;
							z-index: 0;
							@include gradient-linear(to top, #fff, rgba(#fff, 0));
						}
						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 30px;
							background: #fff;
						}

						a {
							position: absolute;
							right: $main-pad;
							bottom: 0;
						}
					}						
				}
			}
		}
	}

	&.post_format-post-format-link,
	&.post_format-post-format-video,
	&.post_format-post-format-image {
		body.archive &,
		body.category & {	
			.entry-title {
				margin-bottom: 10px;
			}

			.entry-title a {
				font-size: .7em;
				text-decoration: none;
			}	

			.entry-summary {
				display: none;
			}

			footer {
				border-bottom: 0;
			}

			&:hover {
				box-shadow: none !important;
			}
		}
	}
}