%sidebar {	
	position: fixed;
	top: 0;
	width: $sidebar-m-w;
	height: 100%;
	overflow: hidden;
	text-align: center;
	padding: $body_pad $main-padding;

	@include respond-to-max(md) {
		position: relative;
	}

	@include respond-to-min(xxl) {
		width: $sidebar-xl-w;
	}
}