
.sidebar-right {
	@extend %sidebar;
	right: $body_pad;
	top: 0;
	word-wrap: break-word;
	background: $white;
	font-size: .95em;

	@include respond-to-max(md) {
		overflow: hidden;
		border-left: none;
		right: 0;
		max-height: 500px;
		width: 100%;
		padding: 0;
	}

	@include respond-to-min(xxl) {
	font-size: 1.3em;
	}


	.show-r-sidebar  & {
		display: block;
	}
}